<%
  description ||= false
%>

<div class="jumbotron">
  <h2 class="jumbotron-panel__title">
    <%= title %>
  </h2>
  <div class="jumbotron-panel__body">
    <% if description %>
      <%= description %>
    <% end %>
  </div>
</div>