<% phase ||= 'beta' %>
<div class="container phase-banner-wrapper py-3 px-3">
  <div class="row">
    <div class="col-md-8 col-lg-8 phase-content">
      <p class="phase">
        <span class="phase__badge badge badge-primary"><%= phase %></span> 
        <span class="phase__text">V současné chvíli tutu službu testujeme. <a href="mailto:helpdesk@msp.justice.cz?subject=ČSSZ B2B služby – zpětná vazba&body=Řekněte nám, co:%0D%0Avám dělalo problém; na čem jste strávili víc času, než je nutno; vám chybělo; se vám naopak líbilo">Pomozte nám ji zlepšit</a>. </span>
      </p>
    </div>
  </div>
</div>
