<div id="global-cookie-message">  
  <div class="container">
    <p>Justice.cz pro vaše pohodlnější prohlížení stránek používá cookies.</p>
  </div>
</div>

<style>
  #global-cookie-message {
    width: 100%;
    background-color: #dee2e6;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    border-bottom: 1px solid #768692;
  }

  #global-cookie-message p {
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 0;
    margin-bottom: 0;
  }
</style>