<div class="skip-link-wrapper">
  <ul style="list-style-type: none;margin-bottom: 0;">
    <li><a id="skip-link--main_content" class="sr-only sr-only-focusable" href="#content">Přeskočit na hlavní obsah</a></li>
    <li><a id="skip-link--footer" class="sr-only sr-only-focusable" href="#footer">Přeskočit na patičku</a></li>
    <li><a id="skip-link--search" class="sr-only sr-only-focusable" href="#site-search">Přeskočit na vyhledávač</a></li>
  </ul>
</div>
