.heading-m--aside {
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.app-related-items {
  border-top: 10px solid $gray-400;
  margin-top: 3rem;

  & h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}

.fieldset .form-control {
  margin-bottom: 15px;
  font-size: inherit;
}

.date-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.input--width-2 {
  max-width: 5ex;
}

.input--width-4 {
  max-width: 6.5ex;
}

.app-c-download-link {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 0;
  text-decoration: underline;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    border-bottom: 0;
  }
}

@media (min-width: 641px) {
  .app-c-download-link {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .app-c-download-link {
    margin-top: 30px;
  }
}

.app-c-download-link__icon {
  margin-right: 0.5em;
  height: 1.31578947368em;
  width: 1.31578947368em;
  vertical-align: middle;
}

.govuk-radios__item {
  position: relative;
  clear: left;
}