.heading-m--aside {
  letter-spacing: 1px;
  font-size: 1.2rem;
}

h1 {
  margin-bottom: 2rem;
}

p {
  margin-top: 0.25em;
  max-width: 38em;
}

.app-related-items {
  border-top: 10px solid $blue;
  margin-top: 5rem;

  & h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}

.btn-lg {
  font-size: 1.3rem;
}

.custom-control {
  padding: 0;
}

.label.custom-control-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: $white;
  border: 1px solid $gray-300;
  padding: 18px 30px 15px 45px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    border-color: $black;
  }
}

.fieldset .form-control {
  margin-bottom: 15px;
  font-size: inherit;
}

.hint {
  display: block;
  margin-bottom: 15px;
  color: $gray-500;
}

.date-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.input--width-2 {
  max-width: 5ex;
}

.input--width-4 {
  max-width: 6.5ex;
}

.radios__divider {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  width: auto;
  margin: 1.5rem 0;
  text-align: left;
}

.checkboxes__conditional {
  margin-bottom: 15px;
  margin-left: 18px;
  padding-left: 33px;
  border-left: 4px solid #bfc1c3;
}

@media (min-width: 641px) {
  .radios__divider {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }

  .checkboxes__conditional {
    margin-bottom: 20px;
  }
}

.app-c-download-link {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 0;
  text-decoration: underline;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    border-bottom: 0;
  }
}

@media (min-width: 641px) {
  .app-c-download-link {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .app-c-download-link {
    margin-top: 30px;
  }
}

.app-c-download-link__icon {
  margin-right: 0.5em;
  height: 1.31578947368em;
  width: 1.31578947368em;
  vertical-align: middle;
}

.custom-control-label::before {
  top: 20px;
  left: 10px;
}

.custom-control-label::after {
  top: 20px;
  left: 10px;
}

.jumbotron .jumbotron-panel__title, .jumbotron-panel__body {
  text-align: center
}

[role="tablist"] {
  padding: 0;
}

[role="tablist"] li, [role="tablist"] a {
  display: inline-block;
}

[role="tablist"] a {
  text-decoration: none;
  padding: 0.5rem 1em;
}

[role="tablist"] [aria-selected] {
  border: 2px solid;
  background: #fff;
  border-bottom: 0;
  position: relative;
  top: 2px;
}

[role="tabpanel"] {
  border: 2px solid;
  padding: 1.5rem;
}

[role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

@media (max-width: 550px) {
  
  [role="tablist"] li, [role="tablist"] a {
    display: block;
    position: static;
  }
  
  [role="tablist"] a {
    border: 2px solid #222 !important;
  }
  
  [role="tablist"] li + li a {
    border-top: 0 !important;
  }
  
  [role="tablist"] [aria-selected] {
    position: static;
  }
  
  [role="tablist"] [aria-selected]::after {
    content: '\0020⬅';
  }
  
  [role="tabpanel"] {
    border-top: 0;
  }
  
}