<div class="form-group">
  <%= render "czegov_publishing_components/components/input", {
    label: {
      text: "Oprávněnost dotazu"
    },
    name: "information_request[request_legitimacy_reason]",
  } %>
</div>
