<div class="form-group">

  <div class="radios">
    <div class="custom-control custom-radio">
      <%= render "czegov_publishing_components/components/radio", {
        name: "information_request[insured_person_type]",
        items: [
          {
            value: "individual",
            text: "Jedinec (požadovaná osoba musí být zletilá)"
          },
          :or,
          {
            value: "mother",
            text: "Matka požadované osoby"
          },
          {
            value: "father",
            text: "Otec požadované osoby"
          },
          {
            value: "parents",
            text: "Matka i otec zároveň"
          }
        ]
      } %>
    </div>
  </div>

</div>


