<div class="form-group">
  <%# "O požadované osobě chci vědět" %>
  <%= render "czegov_publishing_components/components/checkboxes", {
    heading: page[:title],
    name: "information_request[requested_informations][]",
    items: [
      {
        label: "Pobírá důchod – od kdy, druh a výše důchodu, jakým způsobem a na jakou adresu je zasílán",
        value: "red"
      },
      {
        label: "Pobírá, nebo pobíral nemocenské dávky – kdy, jakým způsobem a na jakou adresu jsou zasílány",
        value: "sickness_benefits"
      },
      {
        label: "Pracovní neschopnost – doba trvání pracovní neschopnosti",
        value: "incapacities"
      },
      {
        label: "V evidenci veden jako zaměstnanec, a kdo je jejím zaměstnavatelem",
        value: "employments"
      }
    ]
	} %>
</div>
