<% person_number ||= 0 %>
<div class="form-group">
  <fieldset class="fieldset" role="group">
    <legend><h3 class="mb-0">Jméno a příjmení</h3></legend>

    <%= render "czegov_publishing_components/components/input", {
      label: {
        text: "Jméno"
      },
      name: "information_request[insured_people_attributes][#{person_number}][firstname]",
    } %>

    <%= render "czegov_publishing_components/components/input", {
      label: {
        text: "Příjmení"
      },
      name: "information_request[insured_people_attributes][#{person_number}][lastname]",
    } %>

    <%= render "czegov_publishing_components/components/input", {
      label: {
        text: "Rodné příjmení (nepovinné)"
      },
      name: "information_request[insured_people_attributes][#{person_number}][birth_lastname]",
    } %>

  </fieldset>
</div>

<div class="form-group">
  <fieldset class="fieldset" aria-describedby="expiry-hint" role="group">
    <legend class="fieldset__legend fieldset__legend--m"><h3 class="mb-0">Datum narození</h3>
    </legend>
    <span id="expiry-hint" class="hint">
      Například, 31 3 1980
    </span>
    <div class="date-input" id="expiry">
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="expiry-day">
            Den
          </label>
          <input class="form-control date-input__input input--width-2" id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="expiry-month">
            Měsíc
          </label>
          <input class="form-control date-input__input input--width-2" id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="date-input__item">
        <div class="form-group">
          <label class="label date-input__label" for="expiry-year">
            Rok
          </label>
          <input class="form-control date-input__input input--width-4" id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="form-group">
  <fieldset class="fieldset" aria-describedby="expiry-hint" role="group">
    <legend class="fieldset__legend fieldset__legend--m"><h3 class="mb-0">Místo narození</h3>
    </legend>
    <div class="text-input">
      <%= render "czegov_publishing_components/input", {
        label: {
          text: "Místo narození"
        },
        name: "birthplace",
      } %>                
    </div>
  </fieldset>
</div>
